.card-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
    background-color: #acb87e;
    padding: 10px;
    flex-direction: row;
    border-radius: 70px;
}
