
main{
    background-color: blanchedalmond;
    border-radius: 50px;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(9, 9, 9);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

body{
    background-color: rgb(147, 149, 243);
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(7, 7, 7);
}

.pelicula-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.pelicula-detalle img {
    border-radius: 10px;
    max-width: 300px;
    margin-bottom: 20px;
}

.pelicula-detalle h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    color: brown;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}

.pelicula-detalle p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(56, 32, 32);
    text-align: left;
    margin-bottom: 10px;
    max-width: 600px;
}

.pelicula-detalle button {
    background-color: rgb(158, 159, 220);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.favoritos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.favoritos-card img {
  max-width: 100%;
  border-radius: 10px;
}

.favoritos-card h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: rgb(56, 32, 32);
}

@media (max-width: 360px) {

    h1, h2 {
        font-size: 20px;
        text-align: center;
      }
    
      .card-container {
        flex-direction: column;
        align-items: center;
      }
    
     
      .card {
        width: 100%;   
        margin-bottom: 10px;
      }
    
      
      button {
        width: 87%;  
        padding: 10px;
        font-size: 15px;
      }
    
     
      input[type="text"] {
        width: 80%;
        padding: 10px;
        font-size: 16px;
      }

      .favoritos-container {
        flex-direction: column;
        align-items: center;
    }

        .favoritos-card {
        flex: 0 1 100%;
        max-width: 300px;
    }
  }


