header {
    background-color: aquamarine;
}

.logo{
  height: 120px; 
  width: auto;
  padding: 10%;
}

nav {
    display: flex;               
    justify-content: space-between; 
    align-items: center;   
    background-color: rgb(164, 163, 166);      
  }
  
  .main-nav, .user {            
    display: flex;               
    list-style: none;            
    margin: 0;
    padding: 30px;
    font-size: 20px;
    text-decoration: none;
    
  }
  
  .main-nav li, .user li {
    margin-right: 20px;
    padding: 60px;          
  }
  

  .li-navs a {
    text-decoration: none;
    color: black;
  }
  
  @media (max-width: 360px) {
    .logo {
        height: 50px; 
    }

    nav {
        flex-direction: column; 
        align-items: flex-start;
    }

    .main-nav {
        flex-direction: column;
        font-size: 16px; 
        width: 100%;
        padding: 0;
    }

    .main-nav li {
        padding: 10px 0; 
        margin-right: 0;
        text-align: left;
    }

    .buscador {
        width: 50%; 
        margin-top: 10px;
    }

    .buscador input {
        width: 92%;
        padding: 5px;
    }
}