.character-card {
    width: 20%;
    border-radius: 40px;
    border-color: black;
    background-color: #ffffff;
    padding: 30px 30px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(56, 56, 56);
    text-transform: capitalize;

}

.character-card img{
    max-height: 100%;
    max-width: 100%;
}